body {
    font-family: 'Manrope', sans-serif;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 234, 234);

}
h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}
li {
    font-size: 18px;
    font-weight: 400;
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 68px;
    background-color: #FFF;
}
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 33px;
    margin-right: 124px;
}
.header-logo {
    margin-top: 32px;
    margin-left: 125px;
}
.header-link {
    margin-left: 60px;
}
.header-link-text {
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.title-start-block{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-left: 125px;
    background-color: white;
}
.start-block {
    margin-left: auto;
    margin-right: auto;
    padding-left: 125px;
    padding-right: 125px;
    background-color: white;
}
.image-start-block {
    width: 1150px;
    height: 500px;

    background-image: url(../resources/image1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.image-start-block-text{
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    max-width: 450px;
    max-height: 81px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 379px;
}
.about-block {
    background-color: white;
    margin-bottom: 150px;
    padding-left: 128px;
}
.about-block h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 150px;
    margin-bottom: 30px;
}
.about-block p {
    width: 1120px;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: normal;
}
.about-block a {
    padding: 20px 40px;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 5px;
    background: var(--accent, #AD1818);
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}
