body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background: #f5f5f5;
  }
  
  .main-container {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1400px;
    background: #FFF;
    padding: 125px;
  }
  
  .main-container__title {
    width: 956px;
    color: #121212;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
  }
  
  .image-interior {
    margin-top: 30px;
    background-image: url(resources/image-interior.png);
    width: 1150px;
    height: 500px;
  }
  
  .image-interior__text {
    padding-top: 379px;
    padding-left: 40px;
    width: 430px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.6px;
  }
  
  .main-container__sub-title {
    margin-top: 150px;
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
  }
  
  .text-about__description {
    margin-top: 30px;
    width: 1048px;
    color: #121212;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -1.35px;
  }
  
  .text-about__button {
    margin-top: 30px;
    display: inline-flex;
    padding: 20px 40px;
    border-radius: 5px;
    border-style: none;
    background: #AD1818;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.6px;
    cursor: pointer;
  }
  
